# Google Gemini API configuration
GEMINI_API_KEY="your-api-key"
GEMINI_MODEL_NAME="gemini-2.5-flash"
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="langsmith-api-key"
LANGCHAIN_PROJECT="agentic-ai-it"