
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="langsmith-api-key"
LANGCHAIN_PROJECT="agentic-ai-it"
# Azure OpenAI API configuration
AZURE_OPENAI_API_KEY="APIKEY"
AZURE_MODEL_NAME="gpt-4.1-mini"